@define-color fg #1f1f1f;
@define-color bg #e8e8e8;
@define-color red #f36a50;
@define-color yellow #f5cb3c;
@define-color green #6ac0a5;

* {
  font-family: "SUSE", sans-serif;
  font-size: 14px;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification-row .notification-background {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.floating-notifications .notification-row .notification-background .notification {
  background: @bg;
  color: @fg;
  border: none;
  border-radius: 9999px;
  border-top-left-radius: 0;
  padding: 6px 10px;
  margin: 6px 10px;
  box-shadow: none;
}

.floating-notifications .notification-row .notification-background .notification .summary {
  color: @fg;
  font-weight: 700;
}

.floating-notifications .notification-row .notification-background .notification .body {
  color: @fg;
}

.floating-notifications .notification-row .notification-background .notification .close-button {
  background: @red;
  color: @bg;
  border-radius: 9999px;
  min-width: 20px;
  min-height: 20px;
}

.control-center {
  background: @bg;
  color: @fg;
  border: none;
  border-radius: 12px;
  box-shadow: none;
}

.control-center .notification-row .notification-background .notification {
  background: @bg;
  color: @fg;
  border-radius: 10px;
  border-top-left-radius: 0;
  border: 1px solid rgba(31,31,31,0.15);
}

.notification.critical {
  border-color: @red;
}

.notification.low {
  border-color: @green;
}
