{{- $osrelease := lower .chezmoi.kernel.osrelease -}}
{{- $version := lower .chezmoi.kernel.version -}}
{{- if or (contains $osrelease "microsoft") (contains $version "microsoft") }}
.config/systemd/user/gvfs-afc-volume-monitor.service
.config/systemd/user/gvfs-gphoto2-volume-monitor.service
.config/systemd/user/gvfs-mtp-volume-monitor.service
{{- end }}
